.left-right {
    width: 120px;
    margin: 10px;
    padding: 5px;
    /* float: left; */
    border: none;

    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    
    color: white;
    background-color: #4caf50;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    cursor: pointer;
    user-select: none;

}

.left-right:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.left-right:active {
    background-color: green;
}
