@import url("style_button.css");

.day-item {
    margin: 10px;
    padding: 10px;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.day-item__main-image {
    width: 200px;
    height: 100px;
    margin: 10px;
    float: left;
    cursor: pointer;
    transition: all 0.3s;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.day-item__main-image:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.day-item__day-number {
    font-size: 24px;
}

.day-item__steps-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.day-item__steps {
    font-size: 16px;
}


/* .day-item__open-button {
    width: 80px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #4caf50;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.day-item__open-button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

}
.day-item__open-button:active {
    background-color: green;
} */


.left-right {
    float: none;
}