<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${month}"></title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/style_button.css" th:href="@{/css/style_button.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style_header.css" th:href="@{/css/style_header.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style_footer.css" th:href="@{/css/style_footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style_day_item.css" th:href="@{/css/style_day_item.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/style_days_of_month.css" th:href="@{/css/style_days_of_month.css}" rel="stylesheet" type="text/css">

    <script src="../static/scripts/script.js" th:href="@{/script/script.js}" rel="javascript" type="text/javascript"></script>

</head>
<body>

    <header th:insert="~{blocks/header :: header}"></header>

    <main>
        <div th:if="${not #lists.isEmpty(dayArray)}" th:each="day, dayStat : ${dayArray}" th:insert="~{blocks/day_item :: dayItem}"></div>
    </main>

    <footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>