<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${month} + ' ' + ${dayNumber} + ' (' + ${year} + ')'"></title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/style_header.css" th:href="@{/css/style_header.css}">
    <link rel="stylesheet" href="../static/css/style_footer.css" th:href="@{/css/style_footer.css}">
    <link rel="stylesheet" href="../static/css/style_full_day.css" th:href="@{/css/style_full_day.css}">

</head>
<body>

    <header th:insert="~{blocks/header :: header}"></header>

    <main th:each="day : ${currentDay}">

        <img class="day__main-image" src="../static/images/20230821_120812.jpg" th:src="@{/images/{mainImage}(mainImage=${day.mainImage})}" alt="There must be an image of that day">

        <div class="day__info">
            <p>
                <span class="day__year-number" th:text="${year}">2023</span>
                <span class="day__month" th:text="${month}"><b>August</b></span>
                <span class="day__day-number" th:text="${dayNumber}">21</span>
            <!-- </p> -->

            <!-- <p> -->
                <img class="day__steps-img" src="../static/images/step_img.png" th:src="@{/images/step_img.png}">
                <span class="day__steps" th:text="${day.steps}"></span>
            </p>

            <h5 class="day__note">Short description</h5>
            <p class="day__description" th:text="${day.description}">Description of the day. Краткое описание сегодняшнего дня. Краткое описание сегодняшнего дня. Краткое описание сегодняшнего дня.</p>

            <h5 class="day__note">Content of the day</h5>
            <p class="day__content" th:text="${day.content}">Full conent of the day. Full conent of the day. Full conent of the day. Full conent of the day. Full conent of the day. </p>

        </div>

        <h3 class="day__note">Photogallery</h3>


        <!-- <div th:each="imgpath : ${day.imagesPaths}">
            <img th:src="@{/images/${imgpath}}">
        </div> -->

        <div>

            <button class="left-right" id="openEditModalBtn">
                Edit Day
            </button>

            <button class="left-right left-right__right">
                <a th:href="@{/calendar/{year}/{month}(year=${year}, month=${month})}">
                    Go back
                </a>
            </button>
        </div>



        <div id="edit-modal" class="edit-modal">
            <div class="edit-content">
                <span class="close">&times;</span>
                <h2>Edit Day Window</h2>

                <form method="post"
                    th:object="${gotDay}"
                    >
                    <!-- enctype="multipart/form-data" -->

<!--                    action="@{/calendar/{year}/{month}/{dayNumber}(year=${year}, month=${month}, dayNumber=${dayNumber})}"-->


<!--                    <input value="" th:field="*{mainImagePath}" type="hidden" id="mainImagePath">-->

<!--                    <label for="mainImage">Main Image</label>-->
<!--                    <input th:field="*{mainImage}" id="mainImage" type="file">-->

                    <label for="steps">Daily steps</label>
                    <input value="${day.steps}" th:field="*{steps}" id="steps" type="number" tabindex="1" placeholder="10000">

                    <label for="description">Description</label>
                    <input value="${day.description}" th:field="*{description}" id="description" type="text" tabindex="2" placeholder="Enter day's description">

                    <label for="content">Content</label>
                    <textarea th:text="${day.content}" th:field="*{content}" id="content" tabindex="3" placeholder="Enter day's content"></textarea>
                
                    

                    <input type="submit" tabindex="4" class="left-right" id="editSubmit" value="Save">

                </form>

            </div>
        </div>


    </main>

    <footer th:insert="~{blocks/footer :: footer}"></footer>

    <script>

        const openEditModalBtn = document.getElementById("openEditModalBtn");
        const editModal = document.getElementById("edit-modal");
        const closeEditModal = document.querySelector(".close");
        const modalSubmitBtn = document.getElementById("editSubmit");

        openEditModalBtn.addEventListener("click", () => {
            editModal.style.display = "block";
        });

        closeEditModal.addEventListener("click", () => {
            editModal.style.display = "none";
        });

        modalSubmitBtn.addEventListener("click", () => {
            // Add your submit logic here
            editModal.style.display = "none";
        });


        const contentArea = document.getElementById("content");

        contentArea.addEventListener("input", () => {
            contentArea.style.height = "auto"; // Сбрасываем высоту на автоматическую
            contentArea.style.height = contentArea.scrollHeight + "px"; // Устанавливаем высоту на основе высоты содержимого
        });

    </script>

</body>
</html>